body{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/background.jpg);
    color: mediumspringgreen;
}
header{
    text-align: center;
    background-color: rgba(128,0,128,0.6);
}
nav{
    
}
.topic-button{
    margin: 5px;
}
#container{
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.gif{
    width: 300px;
    height: 300px;
}
.gifDiv{
    background-color: rgba(128,0,128,0.8);
    margin: 5px;
    padding: 5px;
    float: left;
    overflow: hidden;
}